.desktopPhotos{
    display:none;
}

.mobilePhotos{
    
    direction: column;
    justify-content: space-between;
}

.photo{

    margin-bottom: 1em;
}


@media screen and (min-width:768px) {

    .mobilePhotos{
        display:none;
    }
    
    .desktopPhotos{
        display:contents;
    }
}