footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: "space-between";
    align-items: "center";
    width: auto;
    z-index: 2;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: "";
    padding: 0.8rem;
    z-index: 3;
}

.logo{
    width: 40px;
}

ul{
    flex-wrap: wrap;
}

.social{
    text-decoration: none;
    color: #2c2c2c;
}
a:hover{color: gray;
    text-decoration: "none";
    transition: color 300ms;}
    
.social:hover,
.social:focus{
    color: gray;
    text-decoration: "none";
    transition: color 300ms;
}

.copywrite{
    padding-left: 2em;
}